# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# PassVault sensitive data
master.json
Vault.json
salt.bin
Secret.key
PasswordHistory.txt

# IDE
.idea/
.vscode/

# Python cache
*.pyc

# OS files
.DS_Store
Thumbs.db